name: "Release"
on:
  push:
    tags:
      - 'v[0-9]*'
permissions:
  contents: read
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        persist-credentials: false
    - name: Check version
      run: |
        VERSION="$(sed -n -E 's!^__version__\s*(:\s*[^=[:space:]]+\s*)?=\s*"\s*([^[:space:]]+)\s*"\s*$!\2!p' src/pyqg_jax/__init__.py)"
        printf 'Detected version: %s\n' "$VERSION"
        if [[ "$VERSION" == *'dev'* ]]; then
          printf 'Development version. Not releasing.\n'
          exit 1
        fi
        if [[ "v${VERSION}" != "$GITHUB_REF_NAME" ]]; then
          printf 'Package and tag version do not match. Not releasing.\n'
          exit 1
        fi
    - name: Setup Python
      uses: actions/setup-python@v6
      id: setup-python
      with:
        python-version: '3.13'
    - name: Run tox tests
      run: pipx run --python "$WORKFLOW_PYTHON" tox run -e py
      env:
        WORKFLOW_PYTHON: '${{ steps.setup-python.outputs.python-path }}'
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: check
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        persist-credentials: false
    - name: Setup Python
      uses: actions/setup-python@v6
      id: setup-python
      with:
        python-version: '3.13'
    - name: Build package
      run: pipx run --python "$WORKFLOW_PYTHON" build
      env:
        WORKFLOW_PYTHON: '${{ steps.setup-python.outputs.python-path }}'
    - name: Store artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build
        if-no-files-found: error
        path: |
          dist/*.tar.gz
          dist/*.whl
  check-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: build
    steps:
    - name: Setup Python
      uses: actions/setup-python@v6
      id: setup-python
      with:
        python-version: '3.13'
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: build
        path: dist/
    - name: Check artifacts
      run: pipx run --python "$WORKFLOW_PYTHON" twine check --strict dist/*.tar.gz dist/*.whl
      env:
        WORKFLOW_PYTHON: '${{ steps.setup-python.outputs.python-path }}'
  attest:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: build
    permissions:
      id-token: write
      attestations: write
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: build
        path: dist/
    - name: Generate attestation
      uses: actions/attest-build-provenance@v3
      id: gen-attest
      with:
        subject-path: 'dist/*'
    - name: Store attestation
      uses: actions/upload-artifact@v4
      with:
        name: attestation
        path: ${{ steps.gen-attest.outputs.bundle-path }}
        if-no-files-found: error
  draft-release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [check-artifacts, attest]
    permissions:
      contents: write
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: build
        path: dist/
    - name: Download attestation
      uses: actions/download-artifact@v5
      with:
        name: attestation
        path: attest/
    - name: Draft release body
      run: |
        {
          printf '<details><summary>SHA256 Checksums</summary>\n\n```\n'
          sha256sum dist/*.tar.gz dist/*.whl | sed 's!dist/!!'
          printf '```\n\n</details>\n\n'
          printf '<details><summary>SHA512 Checksums</summary>\n\n```\n'
          sha512sum dist/*.tar.gz dist/*.whl | sed 's!dist/!!'
          printf '```\n\n</details>\n'
        } > release_body.md
    - name: Create release
      run: gh release create "$GITHUB_REF_NAME" --title "$GITHUB_REF_NAME" --target "$GITHUB_SHA" --draft --notes-file 'release_body.md' --repo "$GITHUB_REPOSITORY" dist/*.tar.gz dist/*.whl attest/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Prepare step summary
      run: printf '# Artifact Contents\n' > "$GITHUB_STEP_SUMMARY"
    - name: Summarize checksums
      run: |
        {
          printf '## Checksums\n\n'
          printf '<details><summary>SHA256 Checksums</summary>\n\n```\n'
          sha256sum dist/*.tar.gz dist/*.whl | sed 's!dist/!!'
          printf '```\n\n</details>\n\n'
          printf '<details><summary>SHA512 Checksums</summary>\n\n```\n'
          sha512sum dist/*.tar.gz dist/*.whl | sed 's!dist/!!'
          printf '```\n\n</details>\n\n'
        } >> "$GITHUB_STEP_SUMMARY"
    - name: Summarize contents
      run: |
        printf '## Contents\n' >> "$GITHUB_STEP_SUMMARY"
        for f in dist/*.tar.gz; do
          {
            printf '<details><summary>%s</summary>\n\n```\n' "$(basename "$f")"
            tar -tzvf "$f"
            printf '```\n\n</details>\n\n'
          } >> "$GITHUB_STEP_SUMMARY"
        done
        for f in dist/*.whl; do
          {
            printf '<details><summary>%s</summary>\n\n```\n' "$(basename "$f")"
            zipinfo "$f"
            printf '```\n\n</details>\n\n'
          } >> "$GITHUB_STEP_SUMMARY"
        done
  upload:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: draft-release
    environment: pypi
    permissions:
      id-token: write
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: build
        path: dist/
    - name: Upload package
      uses: pypa/gh-action-pypi-publish@release/v1
  publish-release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: upload
    permissions:
      contents: write
    steps:
    - name: Publish GitHub release
      run: gh release edit "$GITHUB_REF_NAME" --draft=false --repo "$GITHUB_REPOSITORY"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
